.jumbotron {
    padding-top: 9rem;
    padding-bottom: 2rem;
    background-color:#66b3ff;
}

.col{
    padding-top: 6rem;
}

.rounded-circle {
    border: 5px solid;
    border-color: white;
}

/* .section { */
    /*margin-top: 10rem; */
/* } */


